.Comment {
    padding: 0;
    background-color: var(--clr-bg);
    transition: var(--transition) ease-out;
}

.title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 732px) {
    .Comment {
        padding: 0px 2rem 4rem;
    }
}