/* Countries */
.Countries {
    margin-top: 45px;
    padding: 0 18px
}

.Countries h2 {
    font-size: 19px; 
    max-width: 732px; 
    margin: 0 auto; 
    font-weight: 700; 
}

.card_wrapper {
    max-width: 733px; 
    margin: 0 auto; 
    display: flex; 
    white-space: nowrap; 
    overflow-x: hidden;
    padding: 5rem;
    box-shadow: 2px -2px 30px 7px rgb(0 0 0 / 16%) inset;
}